stages:
  - deploy

before_script:
  - npm install

pages:
  stage: deploy
  cache:
    paths:
      - node_modules/
  script:
    - npm install
    - npm run build
    - rm -rf public
    - cp build/index.html build/404.html
    - mv build public
  artifacts:
    paths:
      - public
  environment:
    name: production
    url: "https://${NETLIFY_SITE_ID}.netlify.app"
  tags:
    - javascript
  only:
    - tags
